html{text-align: center;}
.hero{background: url("../img/the-flatiron-building.png");}
nav ul li{list-style-type: none; font-family: Helvetica; font-size: 18px;}
nav ul li a{color: white;}
h1{font-family: Helvetica; font-size: 70px; font-weight: bold; color: white;}
h3{font-family: Helvetica; font-size: 23px; font-weight: bold;}
p{font-family: Helvetica; font-size: 14px;}

footer{text-align: left; color: white; font-gamily: Helvetica; background-color: dimgray;}
footer a{color: white;}

#ourProcess{font-family: Helvetica; font-size: 32px; font-weight: bold;}
#copyright{font-family: Helvetica; font-size: 11px; color: white;}
.hero h2{color: white; font-family: Helvetica; font-weight: bold; font-size: 23px;}
a{font-size: 18px;}
